.PokemonList {
  width: 50%;
  padding: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  box-sizing: border-box;
}

.PokemonList--loading {
  width: 50%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}